<table
  datatable
  [dtOptions]="dtOptions"
  [dtTrigger]="dtTrigger"
  class="row-border hover table">
  <thead>
  <tr>
    <th>Customer</th>
    <th>Total Price</th>
    <th>Date</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let order of orders">
    <td>{{ order.shipping.lastName }} {{order.shipping.firstName}}</td>
    <td>{{ order.orderPrice  | currency: 'USD' : 'symbol' : '1.2-2' }}</td>
    <td>{{ order.datePlaced | date }}</td>
    <td>
      <button
        class="btn btn-primary"
        [routerLink]="['/order-details', order.key]"
      >View</button>
    </td>
  </tr>
  </tbody>
</table>
