
.order-button {

  margin-top: 5%;
}

.form-control.ng-touched.ng-invalid {
  border-left: 5px solid red;
}

.form-control.ng-touched.ng-valid {
  border-left: 5px solid darkgreen;
}

.control-container{
  justify-content: center;
  width: 100%;
}
