<div class="row">
  <div class="col-md-6">
    <form [formGroup]="productForm" (submit)="save()">
      <div class="control-container">
        <label for="title">Title</label>
        <input
          #title
          [(ngModel)]="product.title"
          formControlName="title"
          name="title"
          id="title"
          type="text"
          class="form-control">
        <div
          *ngIf="productForm.controls.title.touched && productForm.controls.title.invalid"
          class="alert alert-danger">
          <div *ngIf="productForm.controls.title.hasError('required')">Title is required.</div>
        </div>
      </div>
      <label for="price">Price</label>
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
        <input
          #price
          [(ngModel)]="product.price"
          formControlName="price"
          name="price"
          id="price"
          type="number"
          class="form-control">
      </div>
      <div
        *ngIf="productForm.controls.price.touched && productForm.controls.price.invalid"
        class="alert alert-danger">
        <div *ngIf="productForm.controls.price.hasError('required')">Price is required.</div>
        <div *ngIf="productForm.controls.price.hasError('min')">Price should be at least 0.</div>
      </div>
      <label for="category">Category</label>
      <select
        #category
        [(ngModel)]="product.category"
        formControlName="category"
        name="category"
        id="category"
        class="form-control">
        <option value=""></option>
        <option *ngFor="let category of categories$" [value]="category.key"> {{ category.name }}</option>
      </select>
      <div
        *ngIf="productForm.controls.category.touched && productForm.controls.category.invalid"
        class="alert alert-danger">
        <div *ngIf="productForm.controls.category.hasError('required')">Category is required.</div>
      </div>
      <label for="imageUrl">ImageUrl</label>
      <input
        #imageUrl
        [(ngModel)]="product.imageUrl"
        formControlName="imageUrl"
        required
        name="imageUrl"
        id="imageUrl"
        type="text"
        class="form-control">
      <div
        *ngIf="productForm.controls.imageUrl.touched && productForm.controls.imageUrl.invalid"
        class="alert alert-danger">
        <div *ngIf="productForm.controls.imageUrl.hasError('required')">ImageUrl is required.</div>
        <div *ngIf="productForm.controls.imageUrl.hasError('url')">Provide a valid url address.</div>
      </div>
      <button class="btn btn-primary" type="submit">Save</button>
      <button (click)="delete()" class="btn btn-danger" type="button">Delete</button>
    </form>
  </div>
  <div class="col-md-6">
    <div class="card" style="width: 18rem;">
      <img [src]="product?.imageUrl" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">{{ product?.title }}</h5>
        <p class="card-text"> {{ product?.price | currency: 'USD' : 'symbol' : '1.2-2' }}</p>
      </div>
    </div>
  </div>
</div>




