<a routerLink="/admin/products/new" class="btn btn-primary">Add New Product</a>
<table
  datatable
  [dtOptions]="dtOptions"
  [dtTrigger]="dtTrigger"
  class="row-border hover table"
  >
  <thead>
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Key</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of filteredProducts$">
    <td>{{ product.title }}</td>
    <td>{{ product.price | currency: 'USD' : 'symbol' : '1.2-2' }}</td>
    <td>{{ product.key }}</td>
    <td>
      <button class="btn btn-primary" [routerLink]="['/admin/products/', product.key]">Edit</button>
    </td>
  </tr>
  </tbody>
</table>
